@font-face {
    font-family: nadia;
    src: local("Nadia Serif"),
    local("Nadia-Serif"),
    url(fonts/nadia/nadia-serif.ttf) format("truetype"), 
    url(fonts/nadia/nadia-serif.woff) format("woff"),
    url(fonts/nadia/nadia-serif.svg) format("svg");
}



h1{
    font-family: nadia;
}